.login-form {
    width: 340px;
    margin: 50px auto;
}
.login-form {
    margin-bottom: 15px;
    box-shadow: 0 10px 9px -9px rgba(0, 0, 0, 0.70);
    padding: 30px;
}
.login-form h2 {
    margin: 0 0 15px;
}
.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}
.btn {
    font-size: 15px;
    font-weight: bold;
}

.ketengahin{
    margin-top: 12em;
}

body{
    background-color: white;
}

.background-it {
    padding-left: 2px;
    padding-right: 2px;
    background-color: rgba(255, 255, 255, 0.98);
}

.login-preset{
    background: linear-gradient(135deg, #2095f3 0, #26c6da 100%);
    border-radius: 9px;
    padding-left: 15px;
    padding-right: 15px;
}

.header-login{
    color: white;
}

.button-rad{
    border-radius: 65px;
}

.input-login-preset{
    border-radius: 7px;
}

.different{
    color: #34c8a7;
}